html {
    font-family: Raleway, serif;
    background-image: url("images/fabric.jpg");
}

h1,
h2,
h3,
h4 {
    text-align: center;
    text-shadow: 1px 1px 2px #120000;
}

h2 {
    padding: 20px;
}

#container {
    display: flex;
    flex-direction: column;
    background-image: url("images/paper_fibers.png");
    min-width: 400px;
    max-width: 80%;
    height: 100%;
    margin: 5% auto;
    padding: 70px;
    text-align: center;
}

#pictures {
    display: flex;
    justify-content: center;
}

#doc-container {
    display: none;
}

#button {
    background: url("images/paper_fibers.png");
    text-align: center;
    border: 1px solid;
    width: 200px;
    margin: 30px auto;
    padding: 5px;
    box-shadow: 0px 10px 10px 0 rgba(0, 0, 0, 0.6), 0 10px 10px 0 rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.smallcontainer {
    text-align: left;
    margin: 0 auto;
    min-width: 400px;
    max-width: 60%;
}

.art {
    width: 350px;
    height: 400px;
    background-color: white;
    margin: 20px;
    box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.6), 0 20px 20px 0 rgba(0, 0, 0, 0.6);
}

.largeline {
    width: 70%;
    border-top: 3px double #8c8b8b;
}

.middleline {
    width: 40%;
    border-top: 3px double #8c8b8b;
}

.line {
    width: 20%;
}

@media screen and (max-width: 950px) {
    #pictures {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 575px) {
    #container {
        padding: 30px;
    }
}